.custom-btn {
  border-radius: 0;
  border: 2px solid $red;
  background: transparent;
  padding: 15px 0;
  font-size: 2rem;
	transition: all 0.1s ease-out;
	letter-spacing: 0.02em;

  @media only screen and (min-width: 768px){
    font-size: 1.5rem;
	  padding: 10px 0;
  }

	&:hover{
		background-color: $red;
		color: $white;
	}
}

a.custom-btn{
	&:hover{
		background-color: $red;
		color: $white;
	}
}