$base : #ffffff;
$darken : darken(#ffffff , 10%);
$back: darken(#ffffff, 20%);

$medium: 768px;
$large: 992px;
$xlarge: 1200px;


$red: #e3422c;
$black: #000000;
$white: #ffffff;
$light-gray: #efefef;
$gray: #333333;
$teal: #00bac6;
