$base : #ffffff;
$darken : darken(#ffffff , 10%);
$back: darken(#ffffff, 20%);

$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$black: #000000;
$white: #ffffff;

// Page 10
$bridal-heath: #FFFAF0;
$tuft-bush: #FFD7C9;
$mona-lisa: #FFA799;
