@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="main page-10" role="main">

  <div class="body-cont">

    <img class="hero" src="assets/images/pg-10/bg.jpg" alt="">

    <div class="text-cont nav-section">
      <ul>
        <!-- scroll to elements -->
        <li><a href="#about">about</a></li>
        <li><a href="#project-1">project one</a></li>
        <li><a href="#project-2">project two</a></li>
        <li><a href="#project-3">project three</a></li>
        <li><a href="#project-4">project four</a></li>
        <li><a href="#work">work history</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </div>
  </div>

</main>
<cite>Snap Design Promotional Poster Series, USA 1992</cite>
@@include('../fixtures/_footer.html')
