@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="main page-10" role="main">

  <div class="body-cont">
    <img class="hero" src="assets/images/pg-10/bg.jpg" alt="">

    <h1><strong>Portfolio Title</strong> Here</h1>

    <section id="navigation">
      <ul>
        <!-- scroll to elements -->
        <li><a href="#about">about</a></li>
        <li><a href="#projects" class="proj-link proj-1">project one</a></li>
        <li><a href="#projects" class="proj-link proj-2">project two</a></li>
        <li><a href="#projects" class="proj-link proj-3">project three</a></li>
        <li><a href="#projects" class="proj-link proj-4">project four</a></li>
        <li><a href="#work-history">work history</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </section>

    <section id="about">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </section>

    <section id="projects">
      <div class="date-cont">
        <ul class="dates">
          <li data-project="1">Jan 2018</li>
          <li data-project="2">Aug 2017</li>
          <li data-project="3">March 2017</li>
          <li data-project="4">Sept 2016</li>
          <li data-project="5">May 2015</li>
        </ul>
        <ul class="titles">
          <li data-project="1">
            <a href="#">Lorem ipsum dolor sit amet</a>
          </li>
          <li data-project="2">
            <a href="#">Consectetur adipisicing elit</a>
          </li>
          <li data-project="3">
            <a href="#">Sed do eiusmod tempor incididunt</a>
          </li>
          <li data-project="4">
            <a href="#">Ut labore et dolore</a>
          </li>
          <li data-project="5">
            <a href="#">Magna aliqua</a>
          </li>
        </ul>
      </div>
      <h2 data-content="My Projects">My Projects</h2>
      <ul class="desc-list">
        <li data-project="1">SCSS Flexbox JQuery GASP</li>
        <li data-project="2">WordPress PHP</li>
        <li data-project="3">Vue.js Bootstrap</li>
        <li data-project="4">SCSS Bootstrap JQuery GASP</li>
        <li data-project="5">HTML CSS JavaScript</li>
      </ul>
    </section>

    <section id="work-history">
      <ul class="titles">
        <li><span class="position">Frontend Web Developer</span> Jan 2017 - Now</li>
        <li><span class="position">Fullstack Student</span> Sept 201  - Dec 2016</li>
        <li><span class="position">Web Editor</span> Dec 2011 - Aug 2016</li>
        <li><span class="position">News Contributor</span> Jan 2016 - April 2016</li>
      </ul>
      <h2 data-content="Work History">Work History</h2>
      <ul class="companies">
        <li>Reach Creative</li>
        <li>General Assembly</li>
        <li>Tennis Warehouse</li>
        <li>Indie Shuffle</li>
      </ul>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <ul>
        <li><a href="mailto:karlyhoffman@gmail.com?subject=HI%20Karly">email</a></li>
        <li><a href="http://karlyhoffman.com/assets/img/Karly_Hoffman_Resume.pdf" download>resume</a></li>
        <li><a href="https://github.com/karlyhoffman" target="_blank">github</a></li>
        <li><a href="https://www.linkedin.com/in/karlyhoffman" target="_blank">linkedin</a></li>
        <li><a href="https://codepen.io/karlyhoffman/" target="_blank">codepen</a></li>
        <li><a href="https://ello.co/ello-govna" target="_blank">ello</a></li> <li><a href="https://www.instagram.com/hangryhoff/" target="_blank">instagram</a></li>
      </ul>
    </section>
  </div>

</main>
<cite>Snap Design Promotional Poster Series, USA 1992</cite>
@@include('../fixtures/_footer.html')
