@@include('../fixtures/_header.html')
@@include('../fixtures/_nav.html')

<main class="main page-10" role="main">

  <div class="body-cont">
    <img class="hero" src="assets/images/pg-10/bg.jpg" alt="">

    <section class="navigation">
      <ul>
        <!-- scroll to elements -->
        <li><a href="#about">about</a></li>
        <li><a href="#project-1">project one</a></li>
        <li><a href="#project-2">project two</a></li>
        <li><a href="#project-3">project three</a></li>
        <li><a href="#project-4">project four</a></li>
        <li><a href="#work">work history</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </section>

    <section id="projects">
      <div class="date-cont">
        <ul class="dates">
          <li data-project="1">Jan 2018</li>
          <li data-project="2">Aug 2017</li>
          <li data-project="3">March 2017</li>
          <li data-project="4">Sept 2016</li>
          <li data-project="5">May 2015</li>
        </ul>
        <ul class="titles">
          <li data-project="1">Lorem ipsum dolor sit amet</li>
          <li data-project="2">Consectetur adipisicing elit</li>
          <li data-project="3">Sed do eiusmod tempor incididunt</li>
          <li data-project="4">Ut labore et dolore</li>
          <li data-project="5">Magna aliqua</li>
        </ul>
      </div>
      <h2>My Projects</h2>
      <ul class="desc-list">
        <li data-project="1">SCSS Flexbox JQuery GASP</li>
        <li data-project="2">WordPress PHP</li>
        <li data-project="3">Vue.js Bootstrap</li>
        <li data-project="4">SCSS Bootstrap JQuery GASP</li>
        <li data-project="5">HTML CSS JavaScript</li>
      </ul>
    </section>
  </div>

</main>
<cite>Snap Design Promotional Poster Series, USA 1992</cite>
@@include('../fixtures/_footer.html')
