@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
$josefin: 'Josefin Sans', sans-serif;

$reg: 300;
$semi-bold: 400;
$bold: 700;

$charcoal: #373737;
$paper: #F4F4F4;
$gold: #A69A72;;

a {
  color: $black;

  &:hover,
  &:focus {
    color: $gold;
  }
}
