@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
$josefin: 'Josefin Sans', sans-serif;

$ecru: #F6F3EA;
$demin: #1A77C6;
// $tawny-port: #762440;
$elm: #1D765E;

a {
  color: $black;

  &:hover,
  &:focus {
    color: $elm;
  }
}
