$georgia: Georgia, serif;

// Colors: teal shades, blue to green
$steel-blue: #538CC3;
$shakespeare: #58B3CD;
$tradewind: #57B6B2;
$puerto-rico: #58CDA7;
$emerald: #53C37F;

a {
  color: $black;

  &:hover,
  &:focus {
    color: $emerald;
  }
}
