main.page-10 {
  font-family: $lato;
  padding: 2.5vw;

  .body-cont {
    position: relative;
    background-color: $bridal-heath;
    min-height: 125vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero {
      width: 40vw;
      height: auto;
      opacity: .85;
    }

    h1 {
      position: absolute;
      top: 40%;
      left: 35%;
      font-size: 5rem;
    }

    section.navigation {
      position: absolute;
      top: 10vw;
      left: 40%;
      @include css3-prefix(transform, rotate(270deg));
      border-left: 1px solid $black;
      padding: 0 10px;

      &:after {
        display: block;
        position: absolute;
        content: "";
        background-color: $black;
        width: 30vw;
        height: 1px;
        top: 50%;
        left: 0;
        @include css3-prefix(transform, translateX(-100%));
      }

      li {
        line-height: 1.25;

        a:hover {
          color: $tuft-bush;
          text-decoration: none;
        }
      }
    }

    section#about {
      position: absolute;
      top: 22%;
      width: 10vw;
      left: 14vw;
      min-width: 150px;
      text-align: right;
    }

    section#projects {
      position: absolute;
      top: 40%;
      right: -10vw;
      @include css3-prefix(transform, translateX(-100%));
      display: flex;
      flex-direction: column;
      line-height: 1.6;

      .date-cont {
        @include css3-prefix(transform, rotate(270deg));
        margin-bottom: 20%;

        .dates {
          width: 35%;
          float: left;
          text-align: right;
        }

        .titles {
          width: 55%;
          float: right;
          white-space: nowrap;

          li {
            font-weight: 400;

            a:hover {
              color: $tuft-bush;
              text-decoration: none;
            }
          }
        }
      }

      h2 {
        margin: 15px 0 15px -2.5vw;
      }

      .desc-list {
        @include css3-prefix(transform, rotate(270deg));
        margin-top: 32.5%;

        li {
          text-align: right;
        }
      }
    }
  }
}


// Common Styles
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
