main.page-10 {
  font-family: $lato;
  padding: 2.5vw;

  .body-cont {
    position: relative;
    background-color: $bridal-heath;
    min-height: 125vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero {
      width: 40vw;
      height: auto;
      opacity: .85;
    }

    h1 {
      position: absolute;
      top: 40%;
      left: 32.5%;
      font-size: 5rem;
      color: $mona-lisa;
    }

    section#navigation {
      position: absolute;
      top: 10vw;
      left: 40%;
      @include css3-prefix(transform, rotate(270deg));
      border-left: 1px solid $black;
      padding: 0 10px;

      &:after {
        display: block;
        position: absolute;
        content: "";
        background-color: $black;
        width: 30vw;
        height: 1px;
        top: 50%;
        left: 0;
        @include css3-prefix(transform, translateX(-100%));
      }

      li {
        line-height: 1.25;
      }
    }

    section#about {
      position: absolute;
      top: 22%;
      width: 10vw;
      left: 14vw;
      min-width: 150px;
      text-align: right;
    }

    section#projects {
      position: absolute;
      top: 40%;
      right: -10vw;
      @include css3-prefix(transform, translateX(-100%));
      display: flex;
      flex-direction: column;
      line-height: 1.6;
      @include transition(all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1));

      &.hover,
      &:hover {
        @include css3-prefix(transform, rotate(-270deg));
        right: 16vw;
      }

      .date-cont {
        @include css3-prefix(transform, rotate(270deg));
        margin-bottom: 20%;

        .dates {
          width: 35%;
          float: left;
          text-align: right;
        }

        .titles {
          width: 55%;
          float: right;
          white-space: nowrap;

          li {
            font-weight: 400;
          }
        }
      }

      h2 {
        margin: 15px 0 15px -2.5vw;
      }

      .desc-list {
        @include css3-prefix(transform, rotate(270deg));
        margin-top: 32.5%;
        text-align: right;
      }
    }

    section#work-history {
      position: absolute;
      top: 55%;
      left: 12vw;
      display: flex;
      flex-direction: column;
      line-height: 1.75;
      @include transition(all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1));

      &.hover,
      &:hover {
        @include css3-prefix(transform, rotate(-90deg));
      }

      .titles {
        @include css3-prefix(transform, rotate(90deg));
        text-align: right;
        margin-bottom: 30%;

        .position {
          font-weight: 400;
          padding-right: 5px;
        }
      }

      h2 {
        margin: 20px 0 20px 4vw;

        // Overlap Color Change
        // color: $mona-lisa;
        //
        // &:before {
    		// 	content: attr(data-content);
    		// 	position: absolute;
    		// 	z-index: 2;
    		// 	overflow: hidden;
    		// 	white-space: nowrap;
    		// 	width: 11.5vw;
        //   color: $black;
    		// }
      }

      .companies {
        @include css3-prefix(transform, rotate(90deg));
        margin-top: 30%;
      }
    }

    section#contact {
      position: absolute;
      top: 70%;
      right: 35vw;
      max-width: 75px;
      line-height: 1.6;

      h2 {
        font-size: 2.25rem;
        margin-bottom: 2px;
      }

      p {
        font-size: 1.25rem;
        margin: 0;
      }
    }
  }
}


// Common Styles
a:hover,
a:focus {
  color: $tuft-bush;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Modals
.modal-container {
  position: relative;

  .modal-content,
  .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    @include transition(opacity 0.2s ease-in);
    text-align: center;
  }

  .modal-close {
    color: $light-grey;
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: $medium-grey;
    }
  }

  .row {
    display: flex;
    flex-direction: row;

    .img-cont {
      flex: 1.5;
      padding-left: 15px;

      img {
        max-width: 100%;
      }
    }

    .copy-cont {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 15px 25px 15px 17.5px;

      h2 {
        margin-top: 0;
      }

      & > *:not(h2) {
        text-align: left;
      }

      .details-cont {
        display: flex;
        flex-flow: row wrap;

        & > * {
           flex: 1 0 33.33%;
        }
      }

      .tech-cont {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .modal-content-btn {
    cursor: pointer;
    color: $tuft-bush;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
    &:hover {
      color: $medium-grey;
    }
  }

  .modal-toggle {
    display: none;

    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      @include transition(opacity 0.2s ease-in);
    }

    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: $white;
      width: 90vw;
      height: auto;
      position: fixed;
      top: 10%;
      left: 50%;
      @include transform(translateX(-50%));
      border-radius: 2px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      @include css3-prefix(box-shadow,  0px 2px 50px -5px rgba(0,0,0,0.4) !important);
      padding: 15px;
    }
  }
}
